.blue-text {
    color: #183B4E;
}

.blue-background {
    background-color: #183B4E;
}

.yellow-text {
    color: #DDA853;
}

.yellow-background {
    background-color: #DDA853;
}

.beige-text {
    color: #F5EEDC;
}


.modal-text {
    color: #D0CBBB;
}

.modal-background {
    background-color: #D0CBBB;
}

.heading-background {
    background-color: #4A4A4A;
}

.heading-text-color {
    color: #D9D9D9;
}

.background-color {
    background-color: #F5EEDC;
}